body{
    text-align: center;
    background-color: peachpuff;
}

#customButt{
    border: solid;
    border-color: black;
    color: crimson;
    background-image: url(https://p1.pxfuel.com/preview/123/765/129/waikiki-beach-hawaii-honolulu-oahu.jpg);
    background-size: cover;
    height: 60px;
    width: 126px;
    margin-bottom: 1%;
    opacity: 1;
}
#customButt:hover{
    opacity: 0.7;
}
#environmentButt{
    border: solid;
    border-color: black;
    color: crimson;
    background-image: url(https://p0.pxfuel.com/preview/778/544/37/hawaii-diamond-head-honolulu-oahu.jpg);
    background-size: cover;
    height: 60px;
    width: 126px;
    margin-bottom: 1%;
    opacity: 1;
}
#environmentButt:hover{
    opacity: 0.7;
}
#saeetyButt{
    border: solid;
    border-color: black;
    color: crimson;
    background-image: url(https://p1.pxfuel.com/preview/765/978/336/hawaii-oahu-mountain-sky-paradise-scenic.jpg);
    background-size: cover;
    height: 60px;
    width: 126px;
    margin-bottom: 1%;
    opacity: 1;
}
#saeetyButt:hover{
    opacity: 0.8;
}
#ethicsButt{
    border: solid;
    border-color: black;
    color: crimson;
    background-image: url(https://p1.pxfuel.com/preview/182/655/633/hawaii-oahu-ko-olina-landscape.jpg);
    background-size: cover;
    height: 60px;
    width: 126px;
    opacity: 1;
}
#ethicsButt:hover{
    opacity: 0.7;
}
